{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>{{ title }}</h2>
        {% if current_user.id == owner_id %}
                <a href="/ad/edit/{{ id }}" class="btn btn-primary">Изменить</a>
                <a href="/ad/delete/{{ id }}" class="btn btn-danger">Удалить</a>
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title">Цена: {{ price }} ₽</h5>
        <p class="card-text">{{ content }}</p>
        {% if image %}
            <img src="{{ url_for('static', filename='images/' + image) }}" alt="Изображение" style="max-width:300px;">
        {% endif %}
        <div class="mt-4">
            {% if current_user.id != owner_id %}
                <a href="/ad/buy/{{ id }}" class="btn btn-success btn-lg">Купить</a>
            {% endif %}
            <a href="/" class="btn btn-secondary btn-lg ms-3">Вернуться на главную</a>

        </div>
    </div>
    <div class="card-footer text-muted">
        Размещено: {{ date }}
    </div>
</div>
{% endblock %}
